h3 { 
   color: blue;
}
.error {
    color: red;
    font-size: 20px;
}
.success {
    color: green;
    font-size: 20px;
}

/*--------------------------------------------------*
| table_form                                        |
*--------------------------------------------------*/
#table_form {
	border: 1px solid #000000;
	border-radius: 5px;
}
#table_form td {
	background: #F1F1F1;
}
#table_form tr td:first-child  {
	text-align: end;
	padding: 5px 5px 5px 10px;
}
input {
    width: 225px;
    margin: 5px;
	border: 0px;
}

/*--------------------------------------------------*
| table_list                                        |
*--------------------------------------------------*/
#table_list {
	border: 1px solid #000000;
	border-radius: 5px;
}
#table_list td {
	border: 1px solid #000000;
}
#table_list td:first-child {
	width: 50px;
	text-align: right;
	padding-right: 5px;
}
#table_list td:nth-child(2) {
	width: 350px;
	padding-left: 5px;
}
#table_list td:nth-child(3) {
	width: 150px;
	padding-left: 5px;
}
#table_list td:nth-child(4) {
	border: 0px;
}
#table_list td:nth-child(5) {
	border: 0px;
}